{% extends "layout.html" %}

{% block content %}

<div id="summary">
   Infobaord Dummy content
</div>

{% endblock %}

{% block weather %}

<div id="weather" class="container">
    <div class="row">
        <div id="weather-icon" class="{{ weather.IconClass }} column column-50">{{ weather.Summary }}</div>
        <div id="weather-summary" class="column column-50">{{ weather.Summary }}</div>
    </div>
    <div class="row">
        <div id="weather-temperature" class="column">Temperature {{ weather.Temperature }}</div>
    </div>


</div>

{% endblock %}
